table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

td, th {
  width: 25%;
}
.table-wrapper{
  padding: 1em;
}

.loader-spinner{
  left: 45%;
  top: 45%;
}
.id-item-wrapper{
  display: flex;
  align-items: flex-end;
  mat-icon{
    margin-right: 10px;
  }
}
