<ng-container>
  <mat-sidenav-container class="side_nav_container">
    <mat-sidenav #sidenav mode="side" opened class="wrapper-sidenav"
                 [fixedInViewport]="options.fixed" [fixedTopGap]="options.top"
                 [fixedBottomGap]="options.bottom">
      <ul>
        <li> <a>Dodaj słowo</a></li>
        <li> <a>Lista słów</a></li>
        <li> <a>Nauka</a></li>
      </ul>
      <nav>
      </nav>
    </mat-sidenav>

    <mat-sidenav-content>
      <mat-toolbar class="top_nav"><mat-icon aria-hidden="false" aria-label="menu icon" (click)="sidenav.toggle()">menu</mat-icon></mat-toolbar>

    </mat-sidenav-content>
  </mat-sidenav-container>

</ng-container>
